@import 'src/styles/typography';
@import 'src/styles/variables/colors';
@import 'src/styles/variables/dimensions';

$sidenav-border-radius: 0 $border-radius-md $border-radius-md 0;
$sidenav-header-border-radius: 0 $border-radius-md 0 0;
$sidenav-header-padding: 1.25rem 0 1.25rem $spacer;
$sidenav-menu-item-padding: $spacer-sm 0 $spacer-sm $spacer;

.sideNav {
  background-color: $sidenav-bg;
  border-radius: $sidenav-border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 4px 0px 8px 4px $gray-shadow;
  width: 70%;

  &__close {
    background: none;
    border: none;
    padding: 0 $spacer 0 0;
  }

  &__header {
    background-color: $sidenav-separator-color;
    border-radius: $sidenav-header-border-radius;
    display: inline-flex;
  }

  &__menu-item {
    @include H3-16($sidenav-color);
    background: none;
    border: none;
    border-left: $nav-item-border;
    display: flex;
    padding: $sidenav-menu-item-padding;
    text-align: left;

    &--active {
      color: $accent-color-primary;
      border-left-color: $accent-color-primary;
      box-sizing: border-box;
    }
  }

  &__menu-item-wrapper {
    border-bottom: solid 1px $sidenav-separator-color;
  }

  &__title {
    @include H4-12($sidenav-color);
    margin: 0;
    align-self: center;
  }
}
