@import 'styles/typography';
@import 'styles/variables/breakpoints';
@import 'styles/variables/colors';
@import 'styles/variables/dimensions';

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    // animation: app__logo-spin infinite 20s linear;
  }
}

@keyframes app__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  height: inherit;
  text-align: center;

  &__footer {
    background-color: $app-bg;
    color: $text-white;
    display: flex;
    height: fit-content;
    padding: 1.5rem;
  }
  &__footer-link-list {
    margin: 0;
  }

  &__page {
    background-color: $app-bg-dark;
    box-shadow: inset 0px 0px 8px 0px $white-shadow;
    min-height: calc(100% - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $text-white;

    @media (max-width: $breakpoint-mobile) {
      min-height: calc(100% - $header-height/2);
    }
  }

  &__link {
    color: $accent-color-primary;
  }

  &__logo {
    height: 22rem;
    pointer-events: none;

    @media (max-width: $breakpoint-mobile) {
      height: 16rem;
    }
  }

  &__description {
    @include B1-24($text-color-primary);
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__title {
    @include H1-32($text-color-primary);
    margin: 1rem 0;
  }

  &__text {
    display: flex;
    white-space: break-spaces;
  }
}
